<%= form_for(@message html: {class: 'form-horizontal'}) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

 　　　 <div class="form-group" >
        <%= f.label "Name", :class => "col-sm-1 control-label" %>
        <div class="col-sm-3">
          <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group" >
        <%= f.label "Age", :class => "col-sm-1 control-label" %>
        <div class="col-sm-3">
          <%= f.number_field :age, :class => "form-control", min: Message::AGE_GE, max: Message::AGE_LE %>
        </div>
      </div>
      
      <div class="form-group" >
        <%= f.label "Message", :class => "col-sm-1 control-label" %>
        <div class="col-sm-7">
          <%= f.text_area :body, :class => "form-control" %>
        </div>
      </div>
      
      <div class="form-group" >
        <%= f.submit '送信', class: "btn btn-sm btn-primary " %>
      </div>
<% end %>